.daily-container{
    text-align: center;
    margin-top: 50px;
}   
.box-daily{
    color:rgb(0, 0, 0,0.6);
    font-size: 24px;
    margin-bottom: 25px;
    font-weight: 600;
}
.box-day{
    color:#956fe8;
    font-size: 24px;
    margin-bottom: 25px;
    font-weight: bold;
}

.box-container{
    border-radius: 5px;
    width: 22vw;
    height: 65vh;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}
.box-input{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    overflow-x: auto;
}
.low-priority{
    border-left:5px solid green;
}
.medium-priority{
    border-left:5px solid yellow;
}
.high-priority{
    border-left:5px solid red;
}
.box-infos{
    display: flex;
    align-items: center;
    gap:10px;
    padding: 10px;
    font-weight: 400;
}

.completed-task{
    text-decoration: line-through; 
}
.box-edit{
    display: flex;
    align-items: center;
    gap:10px;
}

.btn-edit:hover{
    cursor: pointer;
}