.calendar-container {
  width: 70vw;
  margin-top: 60px;
  z-index: 1;

}
.fc-h-event {
  background-color: #9f7aea;
  border: none;
}
.fc-h-event:hover {
  cursor: pointer;
}

.fc .fc-button {
  border: none;
  background-color: #9f7aea;
}

.fc .fc-button-primary:not(:disabled).fc-button-active {
  background-color: #9f7aea;
  border: none;
}

.fc .fc-button-primary:disabled {
  background-color: #9f7aea;
  border: none;
}

.fc-v-event {
  background-color: #9f7aea;
  border: none;
}

.fc-v-event:hover {
  cursor: pointer;
}

@media(max-width:710px){
  .calendar-container{
      width: 60vw;
  }
  .fc .fc-button{
    display: none;
  }
}